In [1]:
import sqlalchemy as sqa
import pandas as pd

In [2]:
container = "metadata_db"
port = "5432"
user = "pguser"
password = "pgpassword"
db_class = "postgresql"
db = "playground_db"

In [3]:
con_str = f"{db_class}://{user}:{password}@{container}:{port}/postgres"
db_str = f"{db_class}://{user}:{password}@{container}:{port}/{db}"

In [4]:
con_str

'postgresql://pguser:pgpassword@metadata_db:5432/postgres'

In [11]:
def create_db_if_not_exists(db: str, con_str: str) -> None:
    with sqa.create_engine(con_str).connect() as con:
        db_query = "SELECT datname FROM pg_catalog.pg_database"
        dbs = set(db_val[0] for db_val in con.execute(db_query).fetchall())
        if db in dbs:
            print(f"Database {db} already exists")
        else:
            con.execute("commit")
            con.execute(f"CREATE DATABASE {db}")
            
create_db_if_not_exists(db, con_str)

Database playground_db already exists

In [12]:
engine = sqa.create_engine(db_str)

postgres://pguser@postgres:5432/pg

In [13]:
sample_data = pd.DataFrame([
    {'a': 1, 'b': 'X'},
    {'a': 2, 'b': 'Y'},
    {'a': 4, 'b': 'Z'}
])
sample_data.head()

   a  b
0  1  X
1  2  Y
2  4  Z

In [14]:
with engine.connect() as con:
    sample_data.to_sql('test', con, method='multi', if_exists='replace')

In [15]:
with engine.connect() as con:
    test_data = pd.read_sql('test', con)
    
    
test_data.head()

   index  a  b
0      0  1  X
1      1  2  Y
2      2  4  Z