# Test TF datasets features

In [14]:
import tensorflow as tf
import pandas as pd
import numpy as np
from IPython.display import display

In [64]:
X['a']*2

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
Name: a, dtype: int64

In [68]:
n = 10
X = pd.DataFrame([[i] for i in range(n)], columns=['a'])
# X['b'] = np.random.randn(n)*0.1 + 4

y = pd.DataFrame(X['a']*2).rename({'a': 'label'}, axis=1) - 1
desc = pd.DataFrame([f"Value {i}" for i in range(1, n+1)], columns=['desc'])

display(X, y, desc)

   a
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

   label
0     -1
1      1
2      3
3      5
4      7
5      9
6     11
7     13
8     15
9     17

       desc
0   Value 1
1   Value 2
2   Value 3
3   Value 4
4   Value 5
5   Value 6
6   Value 7
7   Value 8
8   Value 9
9  Value 10

In [112]:
ds = tf.data.Dataset.from_tensor_slices((X, y))
ds_with_labels = tf.data.Dataset.zip((ds,
                                      tf.data.Dataset.from_tensor_slices((desc, )))).batch(4)
ds = ds.shuffle(n).batch(4).prefetch(buffer_size=4)

In [113]:
for batch in ds_with_labels:
    print(batch)

((<tf.Tensor: shape=(4, 1), dtype=int64, numpy=
array([[0],
       [1],
       [2],
       [3]])>, <tf.Tensor: shape=(4, 1), dtype=int64, numpy=
array([[-1],
       [ 1],
       [ 3],
       [ 5]])>), (<tf.Tensor: shape=(4, 1), dtype=string, numpy=
array([[b'Value 1'],
       [b'Value 2'],
       [b'Value 3'],
       [b'Value 4']], dtype=object)>,))
((<tf.Tensor: shape=(4, 1), dtype=int64, numpy=
array([[4],
       [5],
       [6],
       [7]])>, <tf.Tensor: shape=(4, 1), dtype=int64, numpy=
array([[ 7],
       [ 9],
       [11],
       [13]])>), (<tf.Tensor: shape=(4, 1), dtype=string, numpy=
array([[b'Value 5'],
       [b'Value 6'],
       [b'Value 7'],
       [b'Value 8']], dtype=object)>,))
((<tf.Tensor: shape=(2, 1), dtype=int64, numpy=
array([[8],
       [9]])>, <tf.Tensor: shape=(2, 1), dtype=int64, numpy=
array([[15],
       [17]])>), (<tf.Tensor: shape=(2, 1), dtype=string, numpy=
array([[b'Value 9'],
       [b'Value 10']], dtype=object)>,))

In [101]:
for batch in ds:
    print(batch)

(<tf.Tensor: shape=(4, 1), dtype=int64, numpy=
array([[8],
       [9],
       [7],
       [5]])>, <tf.Tensor: shape=(4, 1), dtype=int64, numpy=
array([[15],
       [17],
       [13],
       [ 9]])>)
(<tf.Tensor: shape=(4, 1), dtype=int64, numpy=
array([[3],
       [2],
       [1],
       [6]])>, <tf.Tensor: shape=(4, 1), dtype=int64, numpy=
array([[ 5],
       [ 3],
       [ 1],
       [11]])>)
(<tf.Tensor: shape=(2, 1), dtype=int64, numpy=
array([[4],
       [0]])>, <tf.Tensor: shape=(2, 1), dtype=int64, numpy=
array([[ 7],
       [-1]])>)

In [103]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(5, activation='relu', input_shape=(1, )),
    tf.keras.layers.Dense(3, activation='relu'),
    tf.keras.layers.Dense(1)
])

In [104]:
model.compile(loss=tf.keras.losses.MAE,
              optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),
              metrics=['accuracy'])

In [105]:
model.fit(ds, epochs=50)

Epoch 1/50
3/3 [==============================] - 1s 7ms/step - loss: 8.8569 - accuracy: 0.0000e+00
Epoch 2/50
3/3 [==============================] - 0s 6ms/step - loss: 8.4032 - accuracy: 0.0000e+00
Epoch 3/50
3/3 [==============================] - 0s 7ms/step - loss: 8.0943 - accuracy: 0.0000e+00
Epoch 4/50
3/3 [==============================] - 0s 7ms/step - loss: 7.7847 - accuracy: 0.0000e+00
Epoch 5/50
3/3 [==============================] - 0s 9ms/step - loss: 7.5028 - accuracy: 0.0000e+00
Epoch 6/50
3/3 [==============================] - 0s 8ms/step - loss: 7.2110 - accuracy: 0.1000
Epoch 7/50
3/3 [==============================] - 0s 8ms/step - loss: 6.8483 - accuracy: 0.1000
Epoch 8/50
3/3 [==============================] - 0s 7ms/step - loss: 6.5076 - accuracy: 0.1000
Epoch 9/50
3/3 [==============================] - 0s 9ms/step - loss: 6.0893 - accuracy: 0.1000
Epoch 10/50
3/3 [==============================] - 0s 8ms/step - loss: 5.6388 - accuracy: 0.1000
Epoch 11/50
3/3 [==============================] - 0s 8ms/step - loss: 5.2048 - accuracy: 0.1000
Epoch 12/50
3/3 [==============================] - 0s 7ms/step - loss: 4.7368 - accuracy: 0.1000
Epoch 13/50
3/3 [==============================] - 0s 7ms/step - loss: 4.2007 - accuracy: 0.1000
Epoch 14/50
3/3 [==============================] - 0s 8ms/step - loss: 3.6099 - accuracy: 0.1000
Epoch 15/50
3/3 [==============================] - 0s 9ms/step - loss: 2.9364 - accuracy: 0.1000
Epoch 16/50
3/3 [==============================] - 0s 7ms/step - loss: 2.4688 - accuracy: 0.1000
Epoch 17/50
3/3 [==============================] - 0s 7ms/step - loss: 1.9198 - accuracy: 0.1000
Epoch 18/50
3/3 [==============================] - 0s 7ms/step - loss: 1.3041 - accuracy: 0.1000
Epoch 19/50
3/3 [==============================] - 0s 8ms/step - loss: 1.3309 - accuracy: 0.1000
Epoch 20/50
3/3 [==============================] - 0s 7ms/step - loss: 1.4658 - accuracy: 0.1000
Epoch 21/50
3/3 [==============================] - 0s 7ms/step - loss: 1.5820 - accuracy: 0.1000
Epoch 22/50
3/3 [==============================] - 0s 7ms/step - loss: 1.3147 - accuracy: 0.1000
Epoch 23/50
3/3 [==============================] - 0s 8ms/step - loss: 1.1403 - accuracy: 0.1000
Epoch 24/50
3/3 [==============================] - 0s 8ms/step - loss: 1.1598 - accuracy: 0.1000
Epoch 25/50
3/3 [==============================] - 0s 7ms/step - loss: 1.1933 - accuracy: 0.1000
Epoch 26/50
3/3 [==============================] - 0s 7ms/step - loss: 1.1743 - accuracy: 0.1000
Epoch 27/50
3/3 [==============================] - 0s 8ms/step - loss: 1.1303 - accuracy: 0.1000
Epoch 28/50
3/3 [==============================] - 0s 7ms/step - loss: 1.0337 - accuracy: 0.1000
Epoch 29/50
3/3 [==============================] - 0s 6ms/step - loss: 0.9631 - accuracy: 0.1000
Epoch 30/50
3/3 [==============================] - 0s 9ms/step - loss: 0.8973 - accuracy: 0.1000
Epoch 31/50
3/3 [==============================] - 0s 9ms/step - loss: 0.8808 - accuracy: 0.1000
Epoch 32/50
3/3 [==============================] - 0s 9ms/step - loss: 0.8715 - accuracy: 0.1000
Epoch 33/50
3/3 [==============================] - 0s 8ms/step - loss: 0.8118 - accuracy: 0.1000
Epoch 34/50
3/3 [==============================] - 0s 9ms/step - loss: 0.7619 - accuracy: 0.1000
Epoch 35/50
3/3 [==============================] - 0s 6ms/step - loss: 0.7373 - accuracy: 0.1000
Epoch 36/50
3/3 [==============================] - 0s 7ms/step - loss: 0.7200 - accuracy: 0.1000
Epoch 37/50
3/3 [==============================] - 0s 9ms/step - loss: 0.6921 - accuracy: 0.1000
Epoch 38/50
3/3 [==============================] - 0s 10ms/step - loss: 0.6393 - accuracy: 0.1000
Epoch 39/50
3/3 [==============================] - 0s 8ms/step - loss: 0.6170 - accuracy: 0.1000
Epoch 40/50
3/3 [==============================] - 0s 10ms/step - loss: 0.6085 - accuracy: 0.1000
Epoch 41/50
3/3 [==============================] - 0s 8ms/step - loss: 0.5414 - accuracy: 0.1000
Epoch 42/50
3/3 [==============================] - 0s 9ms/step - loss: 0.5076 - accuracy: 0.1000
Epoch 43/50
3/3 [==============================] - 0s 7ms/step - loss: 0.4747 - accuracy: 0.1000
Epoch 44/50
3/3 [==============================] - 0s 9ms/step - loss: 0.4482 - accuracy: 0.1000
Epoch 45/50
3/3 [==============================] - 0s 9ms/step - loss: 0.4188 - accuracy: 0.1000
Epoch 46/50
3/3 [==============================] - 0s 8ms/step - loss: 0.3812 - accuracy: 0.1000
Epoch 47/50
3/3 [==============================] - 0s 8ms/step - loss: 0.3582 - accuracy: 0.1000
Epoch 48/50
3/3 [==============================] - 0s 8ms/step - loss: 0.3224 - accuracy: 0.1000
Epoch 49/50
3/3 [==============================] - 0s 7ms/step - loss: 0.2845 - accuracy: 0.1000
Epoch 50/50
3/3 [==============================] - 0s 8ms/step - loss: 0.2630 - accuracy: 0.1000

In [106]:
model.predict([[5]])

array([[9.230188]], dtype=float32)

In [119]:
for val in ds_with_labels:
    ((X, y), (labels, )) = val
    print(model.predict(X), y.numpy(), labels.numpy())

[[-0.00680409]
 [ 1.3416592 ]
 [ 3.3237505 ]
 [ 5.292563  ]] [[-1]
 [ 1]
 [ 3]
 [ 5]] [[b'Value 1']
 [b'Value 2']
 [b'Value 3']
 [b'Value 4']]
[[ 7.261376]
 [ 9.230188]
 [11.199   ]
 [13.167812]] [[ 7]
 [ 9]
 [11]
 [13]] [[b'Value 5']
 [b'Value 6']
 [b'Value 7']
 [b'Value 8']]
[[15.136626]
 [17.10544 ]] [[15]
 [17]] [[b'Value 9']
 [b'Value 10']]